@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');



#contenido1 {
  
  
  width: 1000px;
  height: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  align-items: center;
  background-color: rgb(222, 194, 194);
  border-radius: 5%;
  color: black;
  font-size: large;
  align-content: center;
  line-height: 10px; 
}

#map {
  width: 600px;
  height: 600px;
  border: 15px rosybrown solid;
  margin: 10%;
  border-radius: 10%;
}

#button_section {
  margin-top: 8px;
}

.link_button {
  margin: 4px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: large;
  background-color: #f0f0f0;
  cursor: pointer;
  text-decoration: none;
}

/* Styles for sample page */
#buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  width: 600px;
}

.item_button {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 8px;
  font-size: large;
  cursor: pointer;
  text-decoration: none;
}


